h1{
    background-image: 
    linear-gradient(80deg, rgb(184, 0, 144), black, rgb(255, 0, 255));
    color: transparent;
   text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 16px;
border: 2px solid rgb(82, 6, 53);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

body{
background-image: -o-linear-gradient();




}


#agostina{
    color: rgb(255, 212, 248);
}

#vallory{
    color: rgb(255, 165, 236);
}




